
.tour-date-grid {
  color: white;
    display: grid;
    grid-gap: 20px 70px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .grid-item {
    
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .grid-item button {
    font-size: 14px;
    background-color: transparent;
    color: white;
    border: 1.5px solid rgba(248, 199, 41, 0.7);
    width: 8vw;
    height: 2.3vw;
}