.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 23px;
    width: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: boder-box;
}
.toggle-button:focus{
    outline: none;
}
.toggle-button_line {
    width: 27px;
    height: 3px;
    background: rgba(247, 240, 240, 0.705);
}
.toggle-button_line:hover,
.toggle-button_line:active {
    background: rgb(247, 240, 240);
}
