.middle-drawer {
    height: 100%;
    background: transparent;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.middle-drawer.open {
    transform: translateX(0);
}
/* the way text is display*/
.middle-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.middle-drawer li {
    margin: 0.5rem 0;
}
/* removes text lines */
.middle-drawer a {
    font-weight: 200;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.middle-drawer a:hover,
.middle-drawer a:active {
    font-weight: 600;
    color: black;
}

@media (min-width: 769px) {
    .middle-drawer {
        display: none;
    }
}
